body {
  margin: 0;
  background: #0b0f14;
  color: #00ff88;
  font-family: monospace;
  font-size: larger;
}

/* BOOT */
#boot {
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 32px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #00ff48;
  font-family: monospace;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #09c031;

}


/* NAV BAR*/
.navbar {
  width: 80%;
  margin: 20px auto 0 auto;
  padding: 12px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #0f1620;
  border: 1px solid #1b6923;
  border-radius: 10px;

  box-shadow: 0 0 20px rgba(0,255,136,0.08);
  font-family: monospace;
}

/* LOGO */
.logo {
  color: #00ff88;
  font-weight: bold;
}

/* LINKS */
.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: #aaa;
  text-decoration: none;
  transition: 0.2s;
}

.links a:hover {
  color: #00ff88;
  transform: scale(1.15);
  text-shadow: 0 0 10px #00ff88;
}

/* LOGIN */
.login {
  color: #aaa;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.login:hover{
  color: #04de30;
  transform: scale(1.15);
  text-shadow: 0 0 10px #04910d;
}

.dot {
  width: 8px;
  height: 8px;
  background: #00ff88;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff88;
}


/* TERMINAL WINDOW */
#terminal {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #167725;
  /* border-radius: 10px; */
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0,255,136,0.15);
}

/* TOP BAR */
.topbar {
  background: #111720;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #1f3f23;
  

}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 8px;
  margin-right: 15px;
}

.btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.title {
  color: #27c93f;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* BODY */
.body {
  padding: 15px;
  background: #0b0f14;
  min-height: 400px;
}
.terminalText{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: rgb(207, 207, 207);
}

/* INPUT */
.input-line {
  display: flex;
  margin-top: 10px;
}

.prompt {
  margin-right: 10px;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #d4d4d4;
  width: 100%;
  font-family: monospace;
  font-size: large  ;
}

/* OUTPUT */
#output {
  white-space: pre-line;
}

.line {
  margin: 5px 0;
}

/* HIDDEN */
.hidden {
  display: none;
}